<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="layout :: site-head(~{::title}, ~{::link})">
        <title th:text="#{title.forgotPass}">Password recovery</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div th:replace="layout :: site-header" />

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-wrap col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <!--Info start-->
                        <div th:replace="layout :: site-success-messages" />
                        <div th:replace="layout :: site-error-messages" />
                        <!--Info end-->

                        <h4 th:text="#{message.resetPassword}"
                            class="col-xs-12 col-sm-12 col-md-12 site-title">Password recovery</h4>
                        <form action="/"
                              method="POST"
                              enctype="utf8"
                              name="f"
                              class="reg_sys centerText col-xs-12 col-sm-12 col-md-12">
                            <div class="pRight mBottom pRight768remove col-xs-12 col-sm-6 col-md-6">
                                <input class="col-xs-12 col-sm-12 col-md-12" 
                                       type="text" 
                                       th:placeholder="#{label.user.email}"
                                       placeholder="Email"
                                       name="email"
                                       id="email"/>
                            </div>
                            <a href="#"
                               onclick="validate()"
                               class="rs-button col-xs-12 col-sm-6 col-md-6"
                               th:text="#{message.send}">Send</a>
                        </form>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <a th:href="@{/}"
                               class="link pRight"
                               th:text="#{label.pages.gotomain}">Go to main page</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer th:replace="layout :: site-footer" />

        <script src="../static/js/error_generator.js"
                th:src="@{/js/error_generator.js}"
                type="text/javascript">
        </script>
        <script src="../static/js/reset_pass.js"
                th:src="@{/js/reset_pass.js}"
                type="text/javascript">
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            function validate() {
                var invalidEmail = /*[[#{message.email}]]*/ 'Введите email';

                if (document.f.email.value == "") {
                    var errors = [invalidEmail];
                    generateErrors(errors);
                    document.f.email.focus();
                    return false;
                } else {
                    resetPass();
                }
            }

            /*]]>*/
        </script>
    </body>
</html>