<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head(~{::title}, ~{::link})">
        <title th:text="#{title.registrationError}">Registration error</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-wrap col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <div th:replace="layout :: site-messages" />
                        <div th:replace="layout :: site-error-messages" />
                        
                        <a class="link centerText col-xs-12 col-sm-12 col-md-12"
                           onclick="resendToken()"
                           href="#"
                           th:text="#{label.form.resendRegistrationToken}">Send me token again</a>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="layout :: site-footer" />

        <script src="../static/js/error_generator.js"
                th:src="@{/js/error_generator.js}"
                type="text/javascript">
        </script>
        <script src="../static/js/resend_token.js"
                th:src="@{/js/resend_token.js}"
                type="text/javascript">
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            function resendToken() {
                var token = [[${token}]];
                ajaxResendToken(token);
            }
            /*]]>*/
        </script>
    </body>
</html>
